ion-toolbar {
  background: none;
  --box-shadow: none;
}

ion-header {
  background: none;
  --box-shadow: none;
}

h3 {
  line-height: 1em;
  width: 150px;
  color: #0055a5;
  font-size: 1.4em;
}

p {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 16px;
  white-space: pre-wrap;
}

.header {
  background-color: #edf3f8;
  padding: 0;
  height: auto;
}

.back-button {
  --color: #444;
  --background: none;
  --background-hover: linear-gradient(#0055a5, #0d2e4d);
  height: 24px;
  --border-radius: 5px;
  width: 54px;
  font-size: 0.5em;
  font-weight: 600;
}

.event-image {
  width: 100%;
  height: 50vh;
  background: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.event-title {
  color: #e28f00;
  width: 100%;
  font-size: 1em;
  margin: 2em 0 1em 0;
}
@media screen and (min-width: 900px) {
  .event-image {
    margin: 1em auto;
  }
  .event-title {
    font-size: 2em;
  }
}

//Event Details Elements
.details {
  height: auto;
  background: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);

  ion-label {
    color: #0055a5;
  }


  p, h3 {
    display: inline;
  }
}

.going-text {
  font-weight: 600;
  font-size: 1.1em;
  color: #345e85;
  background: #d9d9d975;
  padding: 0.8em;
  border-radius: 5px;
  width: 80%;
  margin: 26px auto;
}

.going {
  background: #edf3f8;
  padding: 80px 0px;
  color: white;
}

.not-going {
  background: #edf3f8;
  padding: 80px 0px;
  color: white;
}

.going-button {
  width: 200px;
  font-size: 1.2em;
  font-weight: 800;
  --background: #1baf88;
  --background-hover: #1baf88;
  --color: white;
}

.not-going-button {
  width: 200px;
  font-size: 1.2em;
  --background: #faa71b;
  --background-hover: #faa71b;
  --color: white;
}


ion-buttons > ion-button {
  --padding: ;
  color: white;
  height: 45px;
  border-radius: 5px;
  font-size: 0.9em;
  text-transform: none;
}

@keyframes slide-up {
  0% {
    width: 0px;
    transform: translateY(20%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}