<!-- Mobile Header -->
<ion-header class="ion-hide-lg-up">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{eventTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <!-- Picture Header Mobile -->
        <ion-row class="ion-hide-sm-up ion-justify-content-center event-image">
          <ion-col 
            size-xs="11" size-sm="10"
            class="event-image" 
            style="background-image: url({{eventPhoto}});">
          </ion-col>
        </ion-row>

        <!-- Picture Header Desktop -->
        <ion-row class="ion-hide-sm-down ion-justify-content-center">
          <ion-col size-md="10" size-lg="6" size-xl="6" 
            class="event-image" 
            style="background-image: url({{eventPhoto}});">
          </ion-col>
        </ion-row>

        <!-- Event Details -->
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-col class="details" size-xs="11" size-sm="10" size-md="10" size-lg="6" size-xl="4">
            <h1 id="event-title">{{ eventTitle }}</h1>
            <h3>Address </h3>
            <p>{{ eventAddressOne }} {{ eventAddressTwo }}, {{ eventCity }}, {{ eventState }}, {{ eventZip}}</p>
            <h3>Date</h3>
            <p>{{ eventDate }}</p>
            <h3>Time</h3>
            <p>{{ eventTime }}</p>
            <h3>Description</h3>
            <p>{{ eventDescription }}</p>
        </ion-col>
        </ion-row>

        <!-- Going or Not Going sections? -->

        <!-- GOING? -->
        <ion-row *ngIf="!going" class="going ion-justify-content-center">
            <ion-col class="ion-text-center" size-xs="11" size-sm="10" size-md="10" size-lg="6" size-xl="5">
              <div>
                <img height="70" src="../../../../assets/icon/jobs-favorites-heart-grey-outline.svg" alt="Favorite Icon">
              </div>
              <p class="going-text">Favorite this Event?</p>
              <ion-button class="going-button" (click)="goingToEvent()">
                   Yes.
                </ion-button><br><br>
              <a class="going-link" routerLink="/home/events" (click)="callEventEmitter()">Go back to Events Page</a><br><br>
               <a class="going-link" routerLink="/home/events/going">View Favorites</a>
                 </ion-col>
        </ion-row>

        <!-- NOT GOING -->
        <ion-row *ngIf="going" class="going ion-justify-content-center">
              <ion-col class="ion-text-center" size-xs="11" size-sm="10" size-md="10" size-lg="6" size-xl="5">
                <div>
                  <img height="70" src="../../../../assets/icon/jobs-favorites-heart-red.svg" alt="Favorite Icon">
                </div>
                <p class="going-text">Un-favorite this Event?</p>
                <ion-button class="not-going-button" (click)="notGoingToEvent()">
                 No.
                </ion-button><br><br>
                <a class="not-going-link" routerLink="/home/events" (click)="callEventEmitter()">
                  
                  Go back to Events Page</a><br><br>
                <a class="not-going-link" routerLink="/home/events/going">View Favorites</a>
               </ion-col>
      </ion-row>
      <div style="padding-bottom: 4em"></div>

      </ion-grid>
</ion-content>
