<!-- Modal -->
<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons (click)="cancel()" slot="start">
      <ion-icon slot="start" name="close"></ion-icon>
      <ion-title>View Resume</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="uploadResumeModal()" id="upload-button">UPDATE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-toolbar class="ion-hide-lg-down">
      <ion-buttons (click)="cancel()" slot="start">
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-title>View Resume</ion-title>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="uploadResumeModal()" id="upload-button">UPDATE</ion-button>
      </ion-buttons>
    </ion-toolbar>

    <!-- Resume View -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-xs="12" size-sm="10">
        <p class="text-header">You can View and Update your Resume here</p>
        <object [data]="this.sanitizeImageUrl(this.resume)" width="100%" height="700" type="application/pdf"></object>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
