ion-toolbar {
  --background: #0055a5;
}
ion-icon, ion-title {
  color: white;
}
ion-icon {
  position: relative;
  left: 1em;
}
h4 {
  margin: 45px auto;
  color: #005191;
}

#upload-button {
  position: relative;
  top: 4px;
  font-size: 10px;
  font-weight: 600;
  right: 20px;
  --width: 60px;
  --background: #ffba1930;
  --border-style: solid;
  --border-color: #ffba19;
  --border-width: 2px;
}