<!-- Modal -->
<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons (click)="cancel()" slot="start">
      <ion-icon slot="start" name="close"></ion-icon>
      <ion-title>View Resume</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="uploadResumeModal()" id="upload-button">UPDATE</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-toolbar class="ion-hide-lg-down">
      <ion-buttons (click)="cancel()" slot="start">
        <ion-icon slot="start" name="close"></ion-icon>
        <ion-title>View Resume</ion-title>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="uploadResumeModal()" style="--background: e28f00;" id="upload-button">UPDATE</ion-button>
      </ion-buttons>
    </ion-toolbar>

    <!-- Resume View -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-xs="12" size-sm="10">
        <img src="https://cdn-images.zety.com/templates/zety/valera-11-classic-silver-dark-332@3x.png" alt="" srcset="">
        <!-- <object [data]="this.sanitizeImageUrl('https://cdn-images.zety.com/templates/zety/valera-11-classic-silver-dark-332@3x.png')" width="100%" height="700" type="application/pdf"></object> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
