.blue-button-small {
  --color: white;
  --background: #0055a5;
  height: 24px;
  width: 100px;
  font-size: 0.5em;
  font-weight: 600;
  display: block;
}
ion-toolbar {
  --background: #0055a5;
}

ion-back-button {
  color: white;
  width: auto;
}
h1 {
  font-weight: 600;
  font-size: 3em;
  color: #46c9a3;
  display: inline;
}

ion-label {
  font-size: 1.4em;
  margin-bottom: 1em;
  color: #0055a5;
}

h5 {
  font-size: 1em;
    color: #222;
    margin-bottom: 25px;
}

.hashtag {
  background: #e1f0fc;
  width: 300px;
  padding: 0.1px 10px;
  margin-bottom: 14px;
  border-radius: 5px;
  font-size: 1em;
  color: #005191;

    p {
      display: inline-block;
    }

    img {
      height: 20px;
      float: right;
      display: inline-block;
      position: relative;
      top: 14px;
    }
}

.line-input > ion-item {
  margin-bottom: 3em;
}

.char-limit {
  position: relative;
  top: -1em;
  text-align: right;
}

ion-title {
  margin: 1em 0;
}

.message {
  font-size: 0.8em;
  background: #fff9ef;
  padding: 8px;
  border-left: 5px solid #ffa71b;
}

.char-limit {
  color: #e4405f;
  margin-bottom: 50px;
}

@media only screen and (max-width: 576px) {
  .text-input {
    box-shadow: none;
    background: #edf3f8;
  }

  ion-textarea {
    // background: #edf3f8;
  }
}

.item-interactive {
  --border-width: 0px;
  --show-full-highlight: 0;
}

h6 {
  padding: 15px;
  line-height: 35px;
  font-weight: 400;
}