.profile-picture {
  height: 40px; width: 40px;
  border-radius: 100px;
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: 0px;
}

// Desktop Search Bar Div
#search-wrapper {
  background-color: #fff; 
  box-shadow: 1px 10px 26px rgba(0,0,0,0.05); 
  position: fixed; 
  width: 100%; 
  z-index: 999;
  height: 70px;
  
  h3 {
    position: relative;
    left: 8px;
    top: 4px;
    display: inline;
    color: #0055a5;
    font-weight: 600;
    font-size: 1em;
  }

  #posts-icon {
    position: relative;
    top: 12px;
    color: #0055a5;
  }
  
  #search-button {
    display: inline-block;
    width: 100%;
    --background: #faae43;
    border-radius: 5px;
    color: #0055a5;
    font-size: 0.65em;
    font-weight: 600;
    height: 32px;
  }
}

#search-message-wrapper {
  background: #ffcf81;
  position: fixed;
  top: 34px;
  text-align: center;
  width: 100%;
  height: 36px;
  z-index: 100;
  transition: 0.2s;
  transition-timing-function: ease;

  p {
    position: relative;
    top: -4px;
    font-weight: 600;
    font-size: 0.7em;
    color: #444;
  }

 }

 #search-message-overlay {
  background: linear-gradient(#faa71b26, #111);
  position: fixed;
  opacity: 0;
  display: none;
  top: 34px;
  height: 100vh;
  width: 100%;
  z-index: 99;
  transition: 0.2s;
  transition-timing-function: ease;
 }

.filter-toolbar-wrapper{
  width: 100%;
  border-bottom: 3px ​solid #0055a5;

  ion-toolbar {
    --background: #ededed;
    --border-width: 0px 0px 3px 0px;
    --border-style: solid;
    --border-color: #0055a5;
    margin: 2em 0em;
    transition: 0.5s;
  }
}
.filter-message{
  font-weight: 600;
  font-size: 1em;    
  color: #0055a5;
  transition: 0.5s;
  box-shadow: 1px 1px 8px #b8b8b8ab;
  border-radius: 5px;
  padding: 6px 10px;
  position: relative;
  left: 12px;
  height: 20px;

  ion-icon {
    font-size: 1.1em;
  }

  p {
    display: inline;
    position: relative;
    top: -3px;
    left: 4px;
    font-size: 0.9em;
  }
}
.filter-message:hover {
  background: #0055a5;
  color: white;
}
.spacer {
  margin: 21px 0;
}
.header-hr{
  border-top: 1px solid #666;
  opacity: 0.5;
  margin-top: 10px;
}
#posts-wrapper {
  padding: 90px 0;
}
.post {
  margin-top: 2%;
  padding: 24px 0;
  border-radius: 10px;
  box-shadow: 1px 10px 26px rgba(0,0,0,0.05);
  font-size: 1.1em;
  line-height: 35px;
  background: white;
}
.post-title {
  color: #0055a5;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 0px;
  margin: 0;
}

.post-buttons{
  ion-toolbar {
    --background: none;
  }
}

.post-name {
  font-size: 0.9em;
  color: #222;
  margin: 0;
  line-height: 18px;

}

.post-date {
  opacity: 0.4;
  font-size: 0.65em;
  margin: 0; line-height: 18px;
}

ion-content {
  background: #edf3f8;
}

.top-button-wrapper{
  // background: #0055a5;
  width: 100%;
  position: relative;
  top: 100px;
}
.filter-icon {
  font-size: 0.5em;
  color: #0055a5;
}
.toolbar-orange-button {
  width: 130px;
  font-weight: 600;
  --background: #faa71b;
  position: relative;
  right: 8px;
}
@media screen and (max-width: 744px) {
  .post {
    position: relative;
    top: 0px;
  }
}
.searchbar {
  font-weight: 600;
  color: #0055a5;
}
.searchbar-desktop {
  font-weight: 600;
  color: #222;
  font-size: 1.2em;
}
.hash-desktop{
  margin-right: 8px;
  font-size: 2em;
  font-weight: 600;
  color: #0055a5;
}
.hashtags{
  
}
.hashtag{
  font-size: 0.65em;
  font-weight: 600;
  display: inline-block;
  margin-right: 5px;
  color: #ea8400;
  line-height: 20px;

}
.no-tags {
  font-size: 0.7em;
  font-weight: 600;
  display: inline-block;
  margin-right: 5px;
  color: #333;
  opacity: 0.5;
  position: relative;
  top: -32px;
}
.post-content {
  font-size: 0.8em;
  position: relative;
  line-height: 1.3em;
  color: #111;
  height: auto;
  overflow: hidden;
  border-top: 2px solid #99999936; 
  padding: 8px 0px;
 }

 .show-less {
  height: 80px;
  overflow: hidden;
}

.show-more-or-less-button {
  float: right;
  position: relative;
  right: 0px;
  margin-top: 35px;
  padding: 0.5em;
  background: #666;
  color: white;
  border-radius: 5px;
  font-size: 0.6em;
  font-weight: 600;
}

// User Details in Sidebar
#user-details {
  position: fixed;
  margin-top: 6%;
  // background: white;
  // border-radius: 15px;
  // border: 2px solid rgb(230, 230, 230);
  // box-shadow: 1px 10px 26px rgb(0 0 0 / 5%);
  padding: 1em;

  #posts-profile-picture {
    border-radius: 100px; 
    height: 55px; 
    width: 55px;
  }

  span {
    font-size: 1.2em;
    position: relative;
    top: -18px;
    left: 8px;
    font-weight: 500;
  }

  a {
    font-size: 0.9em;
    margin: 0.4em 0;
    color: #999;
    height: 16px;
    transition: 0.5s;
    border-bottom: 1px solid #f4f5f8;
  }

  a:hover {
    color: #0055a5;
    border-bottom: 1px solid #0055a5;
  }

  #add-button {
    --color: white;
    --background: linear-gradient(#00c400, #008b00);
    --background-hover: linear-gradient(#000000, #ffffff);
    height: 24px;
    width: 100px;
    font-size: 0.5em;
    font-weight: 600;
    display: block;
    margin-top: 2em;
    transition: 0.5s;
  }
}

#username {
  color: #0055a5;
  font-size: 0.8em;
  font-weight: 600;
  position: relative;
  left: 0px;
  opacity: 0;
  animation: slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}


ion-header {

  .header-icons {
    font-size: 1.6em;
  }

  ion-toolbar {
    // --background: #edf3f8;
    // border-bottom: 1px solid #0055a5;
  }

  p {
    color: #000;
    font-size: 1.2em;
  }
}

ion-item {
  --backsground: none;
}


.following-mobile-button {
  display: inline-block;
  opacity: 1;
  --background: #0055a5;
  --color: white;
  box-shadow: 1px 1px 40px rgba(0,0,0,0.1);
  height: 24px;
  width: 100px;
  font-size: 0.5em;
  font-size: 0.6em;
  font-weight: 600;
  position: relative;
  right: 15px;
}

@media screen and (max-width: 470px) {
  .following-mobile-button {
    position: relative;
    right: 35px;
  }
}



.following-button {
  --color: white;
  --background: #0055a5;
  height: 24px;
  width: 100px;
  font-size: 0.5em;
  font-weight: 600;
  display: block;
}
.my-post-button {
  --background: #333;
  --background-hover: #444;
  --color: white;
  font-weight: 600;
  height: 24px;
  width: 100px;
  font-size: 0.5em;
  display: block;
}

.my-post-button:hover {
  --color: white;
}

form {
  width: 100%;
}

.comment {
  border: 1px solid #0055a5;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  padding-left: 10px;
}

.comment-button {
  font-size: 1em;
  font-weight: 600;
  position: relative;
  right: -20px;
  top: 5px;
}

.comment-post-button {
  --border-color: #40c59d;
  --border-width: 2px;
  --border-style: solid;
  --background: #40c59d;
  --color: white;
  height: 40px;
  margin: 29px auto;
  font-weight: 600;
  font-size: 0.6em;
  border-radius: 5px;
  width: 100px;
}

.comment-input {
  background: rgba(247, 248, 248, 0.5);
  height: auto;
  margin: 10px 0 0px 0;
  box-shadow: none;
  border: 1px solid rgba(0, 81, 145,0.4);
  border-radius: 5px;
  padding-left: 10px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.comment-input:hover {
  background: rgba(247, 248, 248, 0.5);
  height: auto;
  margin: 12px 0 4px 0;
  box-shadow: 1px 1px 3px #999;
  border: 1px solid rgba(0, 81, 145, 1);
  border-radius: 5px;
  padding-left: 10px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.comment-input-mobile {
  background: rgba(213, 232, 236, .3);
  height: 100px;
  margin: 20px 0 10px 0;
  box-shadow: none;
  padding-left: 10px;
  border: 3px solid #0055a5;
  border-radius: 2px;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.comment-input-mobile-focused{
  background: rgba(213, 232, 236, .3);
  height: auto;
  margin: 20px 0 10px 0;
  box-shadow: none;
  padding-left: 10px;
  border: 3px solid #0055a5;
  border-radius: 2px;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  // height: 0px;
}
.comment-input-mobile:focus {
  background: rgba(247, 248, 248, 0.5);
  height: 100px;
  margin: 30px 0 150px 0;
  box-shadow: 1px 1px 3px #999;
  border: 1px solid rgba(227,64,95, 1);
  border-radius: 5px;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.comment-button{
  width: 130px;
  --background: #0055a5;
  --background-hover: #0055a5;
  --color: white;
  font-size: 0.6em;
  font-size: 800;
  border-radius: 5px;
}

.comment-button:focus {
  --color: orange;
}

.follow-button {
  --color: white;
  --background: #888;
  --background-hover: #24d8a8;
  font-size: 0.6em;
  font-size: 800;
  border-radius: 5px;
  width: 100px;
}

// Change color
.unfollow-button {
  font-weight: 800;
  line-height: 1em;
  // background: #faa71b;
  border: 1px solid #faa71b;
  width: 300px;
  color: #faa71b;
  font-size: 1.5em;
  padding: 2px 0px 2px 0px;
  position: relative;
  right: 20px;
  border-radius: 50px;
}

.follow-button:hover, .unfollow-button:hover, .comment-button:hover {
  --color: white;
}


@media screen and (max-width: 567px) {
  .comment-button, .follow-button, .unfollow-button {
      font-weight: 600;
      font-size: 0.5em;
      width: 80px;
  }
}

ion-buttons {
  position: relative;
  left: 10px;
}

.upvote{
  border-radius: 5px;
  // width: 60px;
  position: relative;
  --color: #0055a5;

  ion-icon {
    color: #0055a5;
    font-size: 40px;
  }
}

.downvote {
  border-radius: 5px;
  // width: 60px;
  padding-left: 0px;
  --color: #0055a5;

  ion-icon {
    color: #0055a5;
    --font-size: 40px;
  }
}

.upvoted-toast {
  --background: #0055a5;
}
.downvoted-toast {
  --background: #FFB351;
}

.followed-toast {
  --background: #24d8a8;
}
.unfollowed-toast {
  --background: #FFB351;
}

ion-fab-button {
  --background: #00c400;
  --color-focused: white;
  --color-hover: white;
  --color-activated: white;
  position: relative;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  transition: 0.5s;
  animation: fab-slide-in 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s forwards;
}

@keyframes fab-slide-in {
  0% {
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

ion-footer {
  height: 135px;
  background: #ecf3ff;
}
.hash{
  margin-right: 8px;
  font-size: 2em;
  font-weight: 600;
  color: #0055a5;
}

 .searchbar-input-container .sc-ion-searchbar-md {
  display: block;
    position: relative;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 96%;
    position: relative;
    left: 4px;
 }

 #search-options {
  padding: 4px;
  color: #333;
  text-align: left;
  font-weight: 500;
  font-size: 0.7em;
  position: relative;
  top: -15px;
 }

@keyframes fab-slide-in {
  0% {
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}


@keyframes slide-up {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes username-slide-in {
  0% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes add-post-button-tap {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}