<!-- Mobile Header -->
<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Contact Mentor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #contactMentorIonContent [scrollEvents]="true">
  <ion-grid>
    <!-- Desktop Header -->
    <ion-row style="margin-top: 100px;" class="ion-hide-lg-down ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="7" size-lg="6" size-xl="5">
        <!-- Mentor Photo -->
        <div id="mentor-photo"></div>
        <ion-button class="blue-button-small ion-float-right" (click)="back();">Back</ion-button>
      </ion-col>
    </ion-row>

    <!-- Contact Form -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="7" size-lg="6" size-xl="5">
        <!-- Form -->
        <!-- Mentor Photo -->
        <div class="ion-text-center">
          <p class="ion-hide-md-up message-mobile">Send a message directly to <b>{{mentorName}}</b>. They will get back to you at their earliest convenience via your profile's email: <b>{{this.userEmail}}</b></p>
          <img src="{{mentorPhoto}}" class="ion-hide-lg-up"  id="mentor-photo">
        </div>
        </ion-col>
    </ion-row>
  </ion-grid>
  <div id="bottom-of-page"></div>
</ion-content>

<ion-footer class="ion-hide-lg-up add-comment-footer">
  <ion-row class="ion-justify-content-center">
    <ion-col style="display: inline-block; height: 40px;" size="10">
      <ion-textarea
      #footerCommentInput
      (ionChange)="commentInput($event)"
      style="display: inline;"
      autocapitalize="true"
      rows="1"
      spellcheck="true"
      wrap="soft"
      type="text"
      placeholder="Type Message"
      >
    </ion-textarea>
    </ion-col>
    <ion-col style="display: inline-block; height: 50px;" size="1">
      <ion-button style="--background: none;" (click)="confirm(this.footerCommentInput.value)">
      <ion-icon style="font-size: 1.8em; color: #0055a5;" slot="start" name="send"></ion-icon>
    </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>