<!-- When done loading -->
<ion-content>
  <div *ngIf="initialLoading" id="login-loading">
    <div>
      <img height="90" src="../../../../assets/icon/icon-192x192-white.png" alt="" srcset=""><br>
      <ion-spinner style="color: white; margin-top: 20px; position: relative; left: 30px;" name="bubbles"></ion-spinner>
    </div>
  </div>
  <ion-grid>
    <!-- Form -->
    <!-- <div class="spacer ion-hide-lg-down"></div> -->
    <!-- <div class="spacer"></div> -->
    <ion-row style="overflow-y: hidden;" class="login-background-mobile">
      <ion-col class="ion-text-center" size-xs="11" size-sm="10" size-md="6" size-lg="5" size-xl="4">
          <form class="form-wrapper" [formGroup]="loginForm"
                 (ngSubmit)="login(this.loginForm.value)">
            <img class="ion-hide-sm-up" id="logo" src="../../../../assets/icon/White-FYF-LOGO.png"/>
            <img class="ion-hide-sm-down" id="logo" src="../../../../assets/icon/Logo 2.0.png"/>
            <ion-list class="line-input">
            <ion-item>
              <!-- Email -->
                <ion-input
                  required
                  placeholder="Email"
                  inputmode="email"
                  formControlName="email"
                  type="email"
                  (keyup.enter)="login(this.loginForm.value)">
                </ion-input>
            </ion-item>
            <!-- Email Validation-->
            <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.email">
                    <div class="error-message"
                    *ngIf="loginForm
                      .get('email')
                      .hasError(validation.type) && (loginForm.get('email')
                      .dirty || loginForm.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
            </div>

          <!-- Password -->
          <ion-item>
              <ion-input
                required
                placeholder="Password"
                inputmode="text"
                formControlName="password"
                type="password"
                (keyup.enter)="login(this.loginForm.value)">
              </ion-input>
          </ion-item>

          <!-- Password Validation-->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessasges.password">
              <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

            </ion-list>

              <!-- Login Button -->
              <ion-col size="12">
                <ion-button class="orange-button" type="submit">Login</ion-button><br>
                <ion-button class="blue-button" [routerLink]="['personal-info']">Sign Up
                </ion-button><br>
                <ion-button [routerLink]="['enter-email']" id="forgot">Forgot Password</ion-button>
              </ion-col>

              <!-- UW Logo -->
              <ion-col size="12">
                <br>
                <img height="80" style="margin-top: 50px;" src="../../../../assets/logos/UWSEM-Color.png" alt="United Way Southeastern Michigan" srcset="">
              </ion-col>
          </form>
      </ion-col>
      <ion-col class="login-background ion-hide-lg-down" size-lg="5" size-xl="7.865">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- (click)="download()" -->
<ion-footer id="download-footer">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="12">
        <div id="footer-text">
              <p style="font-size: 0.9em;">Preparing Download </p>
              <span id="dot-one">.</span>
              <span id="dot-two">.</span>
              <span id="dot-three">.</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>