<ion-header no-border class="ion-hide-lg-up">
  <!-- Mobile & Tablet Toolbar -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <img height="30" src="../../../../assets/icon/jobs-favorites-heart-red.svg" alt="" srcset="">
    </ion-buttons>
    <ion-title>Favorites ({{favoritesLength}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Desktop Header -->
    <ion-row class="ion-hide-lg-down ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="6" size-xl="5">
        <ion-toolbar class="desktop-toolbar">
              <ion-buttons slot="start">
                  <img height="36" src="../../../../assets/icon/jobs-favorites-heart-red.svg" alt="Favorites-Icon">
                  <h1>Favorites</h1>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button class="back-button" (click)="back()">
                  Back
                </ion-button>
              </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>

    <!-- No Favorites -->
    <ion-row class="ion-justify-content-center">
      <ion-col *ngIf="noFavorites" size-xs="11" size-sm="10" size-md="10" size-lg="6" size-xl="5">
        <h1 id="no-favorites">You have no favorites.</h1>
      </ion-col>
    </ion-row>

    <!-- Favorite Jobs -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="10" size-md="10" size-lg="6" size-xl="5">
      <ion-row class="job-section ion-justify-content-center" *ngFor="let job of favoriteJobsObj">
            <ion-col push="0.3" size="1">
              <img class="company-logo" src="{{job.companyLogo}}">
            </ion-col>
            <ion-col push="0.3" style="height: 80px;">
              <h5 id="job-title">{{job.title}}</h5>
              <p id="company-name">{{job.companyName}}</p>
              <h5 id="job-posted-date">Posted: {{job.dateCreated}}</h5>
              <h5 id="job-rate">${{job.rateOfPay}}/hr</h5>
            </ion-col>
            <ion-col size="11">
              <p id="job-summary">{{job.summary}}</p>
            </ion-col>
            <ion-col pull="0" size="11">
                <!-- Heart Icon Component holds the state for Favorites -->
                <app-heart-icon [job]="job" [favoriteJobs]="favoriteJobsObj" *ngIf="favoriteJobsObj"></app-heart-icon>
                <ion-button class="job-details ion-float-right" (click)="jobPage(job)">
                  Details
                </ion-button>
            </ion-col>
      </ion-row>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
