ion-toolbar {
    --background: #0055a5;
  }

ion-back-button {
    color: white;
    width: auto;
  }
.contact-button-small {
    --background: #0055a5;
    opacity: 1;
    height: 24px;
    width: 100px;
    font-size: 0.5em;
    font-weight: 600;
    position: relative;
    top: 100px;
    z-index: 9999;
}
img {
    box-shadow: 1px 1px 3px #999;
}
.back-button {
    --color: 444;
    --background: #b8b8b8;
    --background-hover: linear-gradient(#0055a5, #0d2e4d);
    height: 24px;
    --border-radius: 5px;
    width: 54px;
    font-size: 0.5em;
    font-weight: 600;
  }
.toolbar-contact-button {
    width: 85px;
    height: 30px;
    font-size: 0.75em;
    --background: #e28f00;
  }
.message-mobile {
    font-size: 1em;
    background: white;
    padding: 8px;
    border-left: 5px solid #0055a5;
}
#mentor-card {
    background: #fff;
    padding: 0.8em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
#mentor-profile-picture{
    margin: 1em 0;
    background-size: contain;
    border-radius: 100px;
    height: 200px;
    width: 200px;
    opacity: 1;
    // animation: slide-in-left 1s ease-in 1s forwards;
}
#mentor-name {
    font-size: 2em;
    font-weight: 900;
    opacity: 1;
    margin: 0.2em 0;
    color: #111;
}

#mentor-title {
    font-size: 1em;
    font-weight: 600;
    color: #0055a5;
    opacity: 1;
    margin: 0.2em 0;
}
#mentor-location {
    font-size: 1em;
    font-weight: 600;
    color: #0055a5;
    opacity: 1;
    margin: 0.2em 0;
}

#mentor-email {
    font-size: 1em;
    color: #999;
    opacity: 1;
}

.mentor-description {
    font-size: 1em;
    color: #222;
    line-height: 1.5em;
    opacity: 1;
    white-space: pre-wrap;
}
@media only screen and (min-width: 992px) {
    .mentor-description {
        font-size: 1.3em;
    }
  }

#contact-button {
    margin: 50px 0 250px 0;
    --background: linear-gradient(#0672c4, #005191);
    --background-hover: linear-gradient(#0672c4, #222);
    --transition: 0.5s;
    font-weight: 800;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-in-up {
    0% {
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}