<ion-header class="ion-hide-md-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button style="--width: 50px;" class="toolbar-contact-button" (click)="contactMentor()">
        Contact
      </ion-button>
    </ion-buttons>
    <ion-title>Mentor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="mentor ion-justify-content-center">
      <div class="large-spacer"></div>
      <div class="large-spacer"></div>
      <div class="large-spacer"></div>
      <!-- Back Button -->
      <ion-col class="ion-text-center" size-xs="11" size-sm="10" size-md="7" size-lg="6" size-xl="6">
        <ion-toolbar style="--background: none;">
          <ion-buttons slot="start">
            <ion-title>Mentor</ion-title>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button class="back-button" (click)="back()">
              Back
           </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <div id="mentor-card">
          <img src="{{this.mentorPhoto}}" id="mentor-profile-picture"/>
          <p id="mentor-name">{{mentorName}}</p>
          <p id="mentor-title">{{mentorTitle}}</p>
          <p id="mentor-location">{{mentorCity}}, {{mentorState}}</p>
        </div>
      </ion-col>
      <!-- Mentor Info -->
      <ion-col size-xs="11" size-sm="10" size-md="7" size-lg="6" size-xl="6">
        <p class="mentor-description">{{mentorDescription}}</p>
      </ion-col>
      <!-- Contact Button -->
      <ion-col class="ion-text-center" size-xs="11" size-sm="10" size-md="7" size-lg="6" size-xl="6">
        <ion-button class="orange-button"  (click)="contactMentor()">
          Contact
        </ion-button>
        <div class="bottom-page-spacer"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
