<ion-grid>
    <ion-row class="ion-justify-content-end">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-icon (click)="toggleLikeState()" 
                tappable 
                [@heart]="this.favoriteState" 
                style="font-size: 2em" 
                [name]="iconName"></ion-icon>
                <p *ngIf="this.favoriteState === 'favorited'"
                   id="favorited-caption"
                >FAVORITED</p>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button class="details-button-mobile" (click)="eventPage(event)">
                    Details
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-row>
</ion-grid>
