.details-button-mobile {
  margin-right: 10px;
  display: inline-block;
  width: 60px;
  height: 30px;
  --background: none;
  --border-color: #e28f00;
  --border-style: solid;
  --border-width: 1px;
  --border-radius: 2px;
  --color: #e28f00;
  font-size: 0.7em;
  font-weight: 500;
}
#favorited-caption {
  color: #e3405f;
  font-size: 0.6em;
  opacity: 0;
  display: inline-block;
  animation: favorite-caption-fade-in 1s ease forwards;
}
@keyframes favorite-caption-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(6px);
  }
}